{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>abec.io</title>

    <link href="{% static 'bs/bootstrap-5.2.3.css' %}" rel="stylesheet">
    <link href="{% static 'bs/startupbootstrap-grayscale-gh/css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'fa/fontawesome.min.css' %}" rel="stylesheet">
    <style>
        .masthead {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("{% static 'img/iss054e022826.jpg' %}");
        }
    </style>
</head>
<body>

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand">Alberto Bec</a>
        {% block ovr_nav %}
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    {% block nav_sections %}
                    {% endblock %}
                </ul>
            </div>
        {% endblock %}
    </div>
</nav>

{% block ovr_masthead %}
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    {% block masthead_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
{% endblock %}

<!-- Contact-->
<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0"></div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4 mx-auto"/>
                        <div class="small text-black-50">Earth, Sol System, Milky Way, Local Cluster</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0"></div>
        </div>
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="https://twitter.com/c0d3m0nky"><i class="fab fa-twitter"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>

<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50">
    <div class="container px-4 px-lg-5">Copyright &copy; abec.io 2023</div>
</footer>

<script src="{% static 'bs/bootstrap-5.2.3.js' %}"></script>
<script src="{% static 'bs/startupbootstrap-grayscale-gh/js/scripts.js' %}"></script>
<script src="{% static 'fa/fontawesome.js' %}"></script>
</body>
</html>