{% extends "static/base.html" %}
{% load static %}

{% block head_base %}
    <style>
        body {
            background: black;
        }
    </style>
{% endblock %}

{#{% block masthead_content %}#}
{#    <h1 class="mx-auto my-0 text-uppercase">Software Engineer</h1>#}
{#    <h2 class="text-white-50 mx-auto mt-2 mb-5">[Cover letter type snippet]</h2>#}
{#{% endblock %}#}

{% block body %}
    <section class="resume-section text-center" id="resume">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">2019-Present - OpenText/Micro Focus</h2>
                    <p class="text-white-50">
                        C#, Javascript, Java, Python, C++, .Net, Node, MSSql, Postgres, MariaDB, RabbitMQ, Kafka
                    </p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">2019-Present - OpenText/Micro Focus</h2>
                    <p class="text-white-50">
                        C#, Javascript, Java, Python, C++, .Net, Node, MSSql, Postgres, MariaDB, RabbitMQ, Kafka
                    </p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">2019-Present - OpenText/Micro Focus</h2>
                    <p class="text-white-50">
                        C#, Javascript, Java, Python, C++, .Net, Node, MSSql, Postgres, MariaDB, RabbitMQ, Kafka
                    </p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">2019-Present - OpenText/Micro Focus</h2>
                    <p class="text-white-50">
                        C#, Javascript, Java, Python, C++, .Net, Node, MSSql, Postgres, MariaDB, RabbitMQ, Kafka
                    </p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">2019-Present - OpenText/Micro Focus</h2>
                    <p class="text-white-50">
                        C#, Javascript, Java, Python, C++, .Net, Node, MSSql, Postgres, MariaDB, RabbitMQ, Kafka
                    </p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">2019-Present - OpenText/Micro Focus</h2>
                    <p class="text-white-50">
                        C#, Javascript, Java, Python, C++, .Net, Node, MSSql, Postgres, MariaDB, RabbitMQ, Kafka
                    </p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">2019-Present - OpenText/Micro Focus</h2>
                    <p class="text-white-50">
                        C#, Javascript, Java, Python, C++, .Net, Node, MSSql, Postgres, MariaDB, RabbitMQ, Kafka
                    </p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">2019-Present - OpenText/Micro Focus</h2>
                    <p class="text-white-50">
                        C#, Javascript, Java, Python, C++, .Net, Node, MSSql, Postgres, MariaDB, RabbitMQ, Kafka
                    </p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">2019-Present - OpenText/Micro Focus</h2>
                    <p class="text-white-50">
                        C#, Javascript, Java, Python, C++, .Net, Node, MSSql, Postgres, MariaDB, RabbitMQ, Kafka
                    </p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">2019-Present - OpenText/Micro Focus</h2>
                    <p class="text-white-50">
                        C#, Javascript, Java, Python, C++, .Net, Node, MSSql, Postgres, MariaDB, RabbitMQ, Kafka
                    </p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">2019-Present - OpenText/Micro Focus</h2>
                    <p class="text-white-50">
                        C#, Javascript, Java, Python, C++, .Net, Node, MSSql, Postgres, MariaDB, RabbitMQ, Kafka
                    </p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">2019-Present - OpenText/Micro Focus</h2>
                    <p class="text-white-50">
                        C#, Javascript, Java, Python, C++, .Net, Node, MSSql, Postgres, MariaDB, RabbitMQ, Kafka
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}