{% extends plugin_layout|yesno:"static/base_plugin.html,static/base.html" %}
{% load static %}

<!--suppress HtmlFormInputWithoutLabel -->

{% block head_base %}
    <style>
        .tracker-item-value {
            text-align: right;
        }

        .add-tracker {

        }

        input.in-place-edit {
            padding: 0;
            border: none;
        }

        input.in-place-edit::selection {
            background: aqua;
            color: black;
        }

        .tracker-item-title {
            padding-right: 0;
        }

        .tracker-item-value {
            padding-left: 0;
        }

        .tracker-item-value > input {
            text-align: right;
        }

        .tracker-expired input {
            color: red;
        }

        .tracker-low input {
            color: yellow;
        }

        .card-header input {
            font-size: calc(var(--ar-body-font-size))
        }
    </style>
{% endblock %}


{% block add_nav %}
    <li class="nav-item dropdown offset-nav">
        <a class="nav-link dropdown-toggle flex-grow-1" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Round Tracker</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Save Trackers</a></li>
            <li><a class="dropdown-item" href="#">Load Trackers</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <div class="container {% if plugin_layout %}pt-1 mt-1{% else %}pt-5 mt-5{% endif %}">
        <div class="row">
            <div class="col-1">
                <button class="btn btn-icon btn-secondary rounded-circle add-group" type="button"><span>+</span></button>
            </div>
            <div class="col-4">
                <button class="btn btn-secondary rounded-pill tick-round" type="button">Tick Round Counter</button>
            </div>
        </div>
        <div class="row">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="container {% if not plugin_layout %}pb-lg-5 pb-md-4 pb-2 mb-5{% endif %} px-5" style="max-width: unset;">
        <div class="row">
            <div id="tracker-groups" class="masonry-grid mb-2 mb-md-4 pb-lg-3" data-columns="4">

            </div>
        </div>
    </div>
{% endblock %}

{% block scripts_base %}
    <script type="module" src="{% static 'dist/roundTracker.js' %}"></script>
    {#    <script src="{% static 'dist/around/imagesloaded.pkgd.min.js' %}"></script>#}
    {#    <script src="{% static 'dist/around/shuffle.min.js' %}"></script>#}
{% endblock %}